// initial colors
$color-yellow: #f2c94c;
$color-orange: #f2994a;
$color-white: #fff;
$color-gray: #828282;
$color-blue: #2f80ed;

// gris colors
$color-red-01: #ed5b5b;
$color-red-02: #eb5757;

// theme-Colors
$color-primary: #7fd344;
$color-danger: $color-red-02;
$color-warning: $color-yellow;

// Brand colors
$color-brand-01: #7fd344;

// Light colors
$color-light-01: #f2f2f2;
$color-light-02: #fafafa;
$color-light-03: #d9d9d9;

// Gris Colors
$color-gris-01: #bdbdbd;
$color-gris-02: #979797;
$color-gris-03: #bbb;
$color-gris-04: #f8f8f8;
$color-gris-05: #e0e0e0;
$color-gris-06: #eee;
$color-gris-07: #f9f9f9;
$color-gris-08: #999;

// Blue Colors
$color-blue-01: #56CCF2;
$color-blue-02: #2D9CDB;

// Darker Colors
$color-dark-01: #000;
$color-dark-02: #515050;
$color-dark-03: #231F20;
